html,
body,
#root {
  height: 100%;
}

.text-theme {
  color: #43a39f;
}

.btn.bth-theme {
  background-color: #43a39f;
  border: 2px solid #0000;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 20px;
  text-align: center;
}

.bth-theme:hover {
  background-color: #378885;
}
